@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}


body{
    margin:0;
}
header{
    width: 100%;
    height: 112px;
    background-color: rgb(42, 165, 159);
}

/* Titelbild und Angaben */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    section{
        margin: 32px 0;
    }
}
.recipe-title-card{
    display: flex;
    justify-content: center;
}
.title-card-position{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.recipe-title-img{
    width: 100%;
    height: 248px;
    object-fit: cover;
    border-radius: 16px;
}
.recipe-info{
    display: flex;
    justify-content: start;
    gap: 16px;
}


/* Portionsangabe und Zutatenliste */
.recipe-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.separator{
    width: 100%;
    max-width: 1240px;
    height: 2px;
    background-color: #EFEFEF;
}
.recipe-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.input-portions{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}
.border-radius{
    width: 50%;
    border-color: #EFEFEF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.portion-size{
    display: flex;
}
.button{
    padding: 16px 54px;
    background-color: #008000;
    cursor: pointer;
    p{
        color: white;
        font-weight: bold;
        margin: 0;
    }
}
.button:hover{
    background-color: #009f00;
}
.ingredients{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.container-box-gray{
    width: 100%;
    background-color: #EFEFEF;
    border-radius: 8px;
    padding: 12px 32px;
    p{
        margin: 0;
    }
}
.container-box-white{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 12px 32px;
    p{
        margin: 0;
    }
}


/* Zubereitung */
.recipe-preparation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preparation-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.preperation-info{
    display: flex;
    gap: 16px;
}


/* Person */
.profil{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profil-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}
.profil-img-size{
    width: 124px;
    border-radius: 100px;
}
.profil-order{
    display: flex;
    align-items: center;
    gap: 32px;
    p{
        font-size: 32px;
    }
}


/* Allgemein */
h1{
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 32px;
}
h2{
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
h3{
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}
p{
    font-family: 'Raleway';
    font-size: 16px;
}
span{
    font-family: 'Raleway';
    font-size: 16px;
}
.info-box{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #EFEFEF;
    border-radius: 8px;
    padding: 8px 12px;
    p{
        margin: 0;
    }
}
.info-icon{
    width: 16px;
}
.max-width{
    max-width: 1240px;
}

@media (max-width: 1440px){
    .title-card-position{
        width: 100%;
        padding-inline: 32px;
    }
    .ingredients{
        padding-inline: 32px;
    }
    .input-portions{
        padding-inline: 32px;
    }
    .preparation-details{
        width: 100%;
        padding-inline: 32px;
    }
    .profil-details{
       width: 100%;
       padding-inline: 32px;
    }
}
@media (max-width: 610px){
    .input-portions{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        padding-inline: 32px;
    }
    .portion-size{
        width: 100%;
    }
}
@media (max-width: 474px){
    h1{
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 32px;
        text-align: center;
    }
    .recipe-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .preparation-details{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            text-align: center;
        }
    }
    .preperation-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .profil-order{
        flex-direction: column;
        gap: 32px;
    }
    .button{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profil-details{
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}


footer{
    width: 100%;
    height: 112px;
    background-color: rgb(0, 0, 0);
}

