@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

.content-wrapper{
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
}

main{  
  display: flex;
  flex-direction: column;
  align-items: center;
}


.recipe-of-the-day {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.recipe-of-the-day img{
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-right: 40px;
}


.button{
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 16px 54px;
  background-color: #008000;
  cursor: pointer;
  font-weight: 600;
  margin-top: 50px;
}
.button:hover{
    background-color: #009f00;
}

.recipes {
    background-color: rgb(240, 240, 240);
    width: 100%;
    padding-top: 32px;
    padding-bottom: 64px;
}

.recipes-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.recipes-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-align: center;
  
}

.recipes-links img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

.wok-vs-pan{
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-top: 36px;
}

.wok-vs-pan-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.lorem{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    }
.highlight{
    font-weight: 700;
    color: #000000;
} 

.lorem img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

@media (max-width: 1440px){
    .content-wrapper{
        width: 100%;
        padding-inline: 24px;
    }
}

@media (max-width: 767px) {
    .content-wrapper{
        flex-direction: column;
        align-items: center;
    }
    .recipe-of-the-day img{
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .recipes-links{
        flex-direction: column;
        gap: 32px;
        font-size: 24px;
    }
      .recipes-links img{
          width: 100%;
          height: auto;
      }
    .wok-vs-pan{
        padding-bottom: 64px;
    }
    .lorem{
        flex-direction: column;
        align-items: center;
    }
    .lorem img{
        width: 100%;
        height: auto;
    }
  }