@font-face {
    font-family: "Raleway";
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

main{  
  display: flex;
  flex-direction: column;
  align-items: center;
}


.recipe-otd {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.recipe-otd img{
    width: 400px;
    height: auto;
    border-radius: 8px;
}


.button{
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 16px 54px;
  background-color: #008000;
  cursor: pointer;
  font-weight: 600;
  margin-top: 50px;
}
.button:hover{
    background-color: #009f00;
}

.recipes {
    background-color: rgb(240, 240, 240);
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 72px;
    padding-top: 36px;
}

.recipes-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-align: center;
  
}

.recipes-links img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

.wok{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-bottom: 120px;
    padding-top: 36px;
}

.lorem{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    }
.highlight{
    font-weight: 700;
    color: #000000;
} 

.lorem img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

  .padding-left-right{
    padding-left:  100px;
    padding-right: 100px;
  }