<div class="container footer-inner">
  <a class="footer-brand" href="./index.html" aria-label="Kochwelt Startseite">
    <img src="./img/logo_small.png" alt="Kochwelt" />
    <span>Kochwelt</span>
  </a>

  <div class="footer-legal">
    <a href="./impressum.html">Impressum</a>
    <a href="./datenschutz.html">Datenschutz</a>
  </div>

  <div class="footer-social" aria-label="Social Links">
    <a class="social-icon" href="#" aria-label="Facebook" title="Facebook">
      <img src="./img/icons/facebook_logo.svg" alt="Facebook" />
    </a>
    <a class="social-icon" href="#" aria-label="Instagram" title="Instagram">
      <img src="./img/icons/instagram_logo.svg" alt="Instagram" />
    </a>
    <a class="social-icon" href="#" aria-label="X" title="X">
      <img src="./img/icons/x-logo-png_seeklogo-492396.png" alt="X" />
    </a>
  </div>
</div>