<div class="container footer-inner">
  <a class="footer-brand" href="./index.html" aria-label="Kochwelt Startseite">
    <img src="./img/logo_small.png" alt="Kochwelt" />
    <span>Kochwelt</span>
  </a>

  <div class="footer-legal">
    <a href="./impressum.html">Impressum</a>
    <a href="./datenschutz.html">Datenschutz</a>
  </div>

  <div class="footer-social" aria-label="Social Links">
    <a class="social-icon" href="https://www.facebook.com/" aria-label="Facebook" title="Facebook" target="_blank">
      <img src="./img/icons/facebook_logo.svg" alt="Facebook" />
    </a>
    <a class="social-icon" href="https://www.instagram.com/" aria-label="Instagram" title="Instagram" target="_blank">
      <img src="./img/icons/instagram_logo.svg" alt="Instagram" />
    </a>
    <a class="social-icon" href="https://x.com/" aria-label="X" title="X" target="_blank">
      <img src="./img/icons/twitter_x_new_logo_x_round_circle_blue_icon_256074.svg" alt="X" />
    </a>
  </div>
</div>